.formInput{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
}
.formBtn{
    height: 45px;
    margin:0 5px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    border: 0;
    outline: 0;
}
.formBtn:hover{
    background-color: gray;
    color: white;
}