.deatilInfo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    color: white;
}

.coatOfArms{
    width: 500px;
    height: 100%;
}
.flags{
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.detailBox{
    margin-top: 5%;
    padding: 10px;
    height: 65vh;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}



.countryInfo{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 500px;

}

.countryInfo>div{
    height: 20px;
    padding: 5px;
    margin: 5px;
    background-color: black;
    border-radius: 10px;

}
.linkHome{
    color: white;
}